<h1>Login to Your intinerary</h1>

  <h3>Login Here</h3>

  <%= form_tag(login_path) do %>
<p>
  <%= label_tag(:first_name)%>
  <%= text_field_tag(:first_name, params[:first_name], autofocus: true)%>
</p>
<p>
  <%= label_tag(:last_name)%>
  <%= text_field_tag(:last_name, params[:last_name], autofocus: true)%>
</p>
<p>
  <%= label_tag(:password)%>
  <%= password_field_tag(:password)%>
</p>
<p>
  <%= submit_tag("Log in", class: "btn btn-primary") %>
</p>
<% end %>

<%= link_to "Don't have an account? Sign up here", signup_path%>
<div class="navbar navbar-fixed-bottom">a GPOM Squirrel Pouch Production</div>