<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
<container>
<h1>Sign up for MakeMyTrip!</h1>
    
<% if @traveler.errors.any?%>
	<% @traveler.errors.full_messages.each do |error|%>
		<p class="text-danger">
			<%= error %>
		</p>
	<% end %>
<% end %>

<div>
<%= form_for @traveler do |f| %>
<p class="form-group">
	<%= f.label :first_name %>
	<%= f.text_field :first_name, class:"form-control" %>
</p>
<p class="form-group">
	<%= f.label :last_name %>
	<%= f.text_field :last_name, class:"form-control" %>
</p>
<p class="form-group">
	<%= f.label :email %>
	<%= f.number_field :email, class:"form-control" %>
</p>
<p class="form-group">
	<%= f.label :password %>
	<%= f.number_field :password, class:"form-control" %>
</p>
<p class="form-group">
	<%= f.submit class:"btn btn-success" %>
</p>
<% end %>
</div>
<p>

<p>
<%= link_to "Back", root_path %>
</p>

<div class="navbar navbar-fixed-bottom">a GPOM Squirrel Pouch Production</div>

</container>
</body>
</html>

