<h1>Add a Destination</h1>

<%= form_for @destination do |f| %>
  <%= f.text_field :place, :placeholder => "Place" %>
  <%= f.text_field :state_date, :placeholder => "Start Date" %>
  <%= f.text_field :return_date, :placeholder => "Return Date" %>  
  <%= f.submit %>
<% end %>
