<h1>Add a Destination</h1>
<% #binding.pry %>
<%= form_for @destination, url: traveler_itinerary_destinations_path do |f| %>
  <%= f.text_field :place, :placeholder => "Place" %>
  <%= f.text_field :name, :placeholder => "Trip Name" %>  
  <%= f.date_field :start_date, :placeholder => "Start Date" %>
  <%= f.date_field :return_date, :placeholder => "Return Date" %>  
  <%= f.submit %>
<% end %>
